:root {
  --default-shadow: 5px 5px 8px rgba(36, 49, 39, 0.5);
}

body {
  background-color: #283028;
  font-family: "Poppins", sans-serif;
  color: #243127;
  font-size: 14px;
  font-weight: 400;
}

.navbar {
  background-color: #ffdf7c;
  text-align: center;
  font-family: "Caprasimo", serif;
  color: #a46379;
  font-size: 20px;
  text-transform: lowercase;
}

.nav-link {
  color: #a46379;
  margin: 0 15px 0 15px;
  transition: 250ms ease-in-out;
}

.active-nav {
  color: #6d3447;
}

#mob-home {
  display: none;
}

.nav-link:hover {
  color: #243127;
}

.navbar-toggler {
  font-size: 30px;
  border: none;
  color: #a46379;
  text-align: center;
}

.navbar-toggler .active {
  border: none;
}
.page-body {
  width: 80%;
  background-color: #a46379;
  height: auto;
  margin: 0 auto;
  display: block;
  padding: 0;
  box-shadow: var(--default-shadow);
}

header {
  text-align: left;
  padding: 50px 25px 50px 125px;
}

h1 {
  font-family: "Caprasimo", serif;
  color: #feb640;
  font-size: 78px;
  line-height: 1;
}

h4 {
  font-family: "Caprasimo", serif;
  color: #fdefc0;
  font-size: 50px;
  line-height: 1;
  display: none;
}

h2 {
  color: #ffdf7c;
  font-size: 18px;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 3px;
}

h3 {
  font-size: 18px;
  line-height: 2;
  font-weight: 400;
  letter-spacing: 1px;
}

.section-one {
  background-color: #fdefc0;
  padding: 50px;
}

.profile-image {
  width: 90%;
  margin: 0 auto;
}

.section-two {
  background-color: #feb640;
  padding: 50px;
  text-align: center;
}

.section-two h1 {
  color: #fdefc0;
  font-size: 60px;
  margin: 0 0 40px 0;
}

.section-two h2 {
  color: #fdefc0;
  margin: 0 0 20px 5px;
  font-weight: 500;
}

.highlight-img {
  margin: 5px auto;
  width: 90%;
  border-radius: 100%;
  background-position: center;
  object-fit: cover;
  aspect-ratio: 1/1;
  box-shadow: var(--default-shadow);
}

footer {
  text-align: left;
  padding: 50px 50px 50px 75px;
  color: #ffdf7c;
  font-size: 34px;
}

footer a {
  text-decoration: none;
  color: #ffdf7c;
  transition: 150ms ease-in-out;
}

footer a:hover {
  color: #fdefc0;
}

.contact {
  padding: 5px;
}

@media (max-width: 950px) {
  .page-body {
    width: 100%;
  }

  .section-two h1 {
    font-size: 50px;
  }

  #nav-home {
    display: none;
  }

  #mob-home {
    display: block;
  }
}

@media (max-width: 700px) {
  #nav-home {
    display: none;
  }
  h1 {
    font-size: 60px;
  }

  .section-one {
    padding: 20px;
  }

  .profile-image {
    width: 100%;
    margin-bottom: 20px;
  }

  .section-two h1 {
    display: none;
  }

  .section-two h2 {
    margin-top: 15px;
  }

  h4 {
    display: block;
    margin: 0 0 40px 0;
  }

  header {
    padding: 50px;
  }

  footer {
    padding: 50px;
  }

  .highlight-img {
    margin: 30px auto;
  }
}
