:root {
  --default-shadow: 5px 5px 8px rgba(36, 49, 39, 0.5);
}

body {
  background-color: #283028;
  font-family: "Poppins", sans-serif;
  color: #243127;
  font-size: 16px;
  font-weight: 400;
}

.navbar {
  background-color: #ffdf7c;
  text-align: center;
  font-family: "Caprasimo", serif;
  color: #a46379;
  font-size: 20px;
  text-transform: lowercase;
}

.nav-link {
  color: #a46379;
  margin: 0 15px 0 15px;
  transition: 250ms ease-in-out;
}

.active-nav {
  color: #6d3447;
}

#mob-home {
  display: none;
}

.nav-link:hover {
  color: #243127;
}

.navbar-toggler {
  font-size: 30px;
  border: none;
  color: #a46379;
  text-align: center;
}

.navbar-toggler .active {
  border: none;
}
.page-body {
  width: 80%;
  background-color: #a46379;
  height: auto;
  margin: 0 auto;
  display: block;
  padding: 0;
  box-shadow: var(--default-shadow);
}

header {
  text-align: left;
  padding: 50px 25px 50px 125px;
}

h1 {
  font-family: "Caprasimo", serif;
  color: #feb640;
  font-size: 78px;
  line-height: 1;
}

h4 {
  font-family: "Caprasimo", serif;
  color: #fdefc0;
  font-size: 50px;
  line-height: 1;
  display: none;
}

h2 {
  color: #ffdf7c;
  font-size: 18px;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 3px;
}

h3 {
  font-size: 18px;
  line-height: 2;
  font-weight: 400;
  letter-spacing: 1px;
}

.section-one {
  background-color: #fdefc0;
  padding: 50px;
}

.section-one p {
  padding: 15px;
  margin-top: 30px;
}

.profile-image {
  width: 90%;
  margin: 0 auto;
}

.section-two {
  background-color: #feb640;
  padding: 50px;
  text-align: center;
}

.section-two h1 {
  color: #fdefc0;
  font-size: 60px;
  margin: 0 0 40px 0;
}

.section-two h2 {
  color: #fdefc0;
  margin: 0 0 20px 5px;
  font-weight: 500;
}

.highlight-img {
  margin: 5px auto;
  width: 90%;
  border-radius: 100%;
  background-position: center;
  object-fit: cover;
  aspect-ratio: 1/1;
  transition: 350ms ease-in-out;
}

.highlight-img:hover {
  box-shadow: var(--default-shadow);
}

.fun-fact-one {
  background-color: #a46379;
  border-radius: 20px 5px 20px 5px;
  padding: 15px;
  color: #fdefc0;
  font-weight: 500;
}

.fun-fact-two {
  background-color: #ffdf7c;
  border-radius: 5px 20px 5px 20px;
  padding: 15px;
  color: #6d3447;
  font-weight: 500;
}

.project-grid {
  width: 100%;
  border-radius: 10px;
  position: relative;
}

.grid-wrap {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.hidden-grid {
  position: absolute;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(109, 52, 71, 0.95);
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  transition: 200ms;
  border-radius: 10px;
  text-align: center;
  color: #fdefc0;
}

.grid-em {
  display: block;
  font-family: "caprasimo", serif;
  font-size: 24px;
  line-height: 1;
  margin-bottom: 10px;
}

.grid-wrap:hover .hidden-grid {
  visibility: visible;
  opacity: 1;
  padding: 30px;
}
footer {
  text-align: left;
  padding: 50px 50px 50px 75px;
  color: #ffdf7c;
  font-size: 34px;
}

footer a,
.section-two a {
  text-decoration: none;
  color: #ffdf7c;
  transition: 150ms ease-in-out;
}

footer a:hover,
.section-two a:hover {
  color: #fdefc0;
}

.contact {
  padding: 5px;
}

.about-main {
  width: 90%;
}

.about-bg {
  padding: 15px;
  text-align: left;
}

.about-img {
  width: 100%;
}

.container .about {
  padding: 0;
}

.hidden {
  display: none;
}

@media (max-width: 1300px) {
  .page-body {
    width: 100%;
  }
}

@media (max-width: 950px) {
  .section-one p {
    padding: 0px;
    margin-top: 0px;
  }

  /* .hidden {
    display: block;
  }

  .about-img {
    padding: 10px;
  }

  .about-main {
    display: none;
  } */

  .page-body {
    width: 100%;
  }

  .section-two h1 {
    font-size: 50px;
  }

  #nav-home {
    display: none;
  }

  #mob-home {
    display: block;
  }
}

@media (max-width: 700px) {
  #nav-home {
    display: none;
  }
  h1 {
    font-size: 60px;
  }

  .section-one {
    padding: 20px;
  }

  .profile-image {
    width: 100%;
    margin-bottom: 20px;
  }

  .mob-hide {
    display: none;
  }

  .section-two h2 {
    margin-top: 15px;
  }

  h4 {
    display: block;
    margin: 0 0 40px 0;
  }

  header {
    padding: 50px;
  }

  footer {
    padding: 50px;
  }

  .highlight-img {
    margin: 30px auto;
  }
}
